/* google font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;1,500&family=Mulish:wght@200;400&display=swap');

body {
  background-color: #F6F6E9;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.67));
}

.navbar-brand {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 32px;
}

/* Jumbotron */
.jumbotron {
  background-image: url(img/foto1.png);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .display-4 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #F6EBD6;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  font-size: 64px;
  margin-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 500;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

/* footer */
.footer {
  background-image: linear-gradient(to top, rgba(171, 91, 42, 1), rgba(171, 91, 42, 0));
}

.footer p {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 50px;
}

/* Utility */
.tombol {
  text-transform: uppercase;
  background-image: url(img/badge.png);
  background-position: center;
  background-size: cover;
  padding: 15px;
}

.garis {
  border: 1px solid #654C4D;
  opacity: 0.5;
}

/* DESKTOP */
@media (min-width: 992px) {

  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #F6EBD6;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .section {
    margin: 10em 0px;
    color: #654C4D;
  }

  .section h3 {
    font-weight: 300;
    font-size: 34px;
  }

  .section span {
    font-weight: 500;
  }

  .menu {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .menu figure img {
    width: 60px;
    margin: 20px 10px 10px;
    opacity: 0.6;
  }

  .menu figure img:hover {
    cursor: pointer;
  }

  .menu figure img.active {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
  }

  .working-space {
    text-align: left;
  }

  .working-space h3 {
    margin-left: 15px;
  }

  .working-space p {
    margin: 30px 15px;
  }

  .working-space a {
    margin-left: 15px;
  }

  .testimonial h5 {
    font-size: 32px;
  }
}